.wrapper{
    background-color: #8236e2;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    transition: all .3s linear;
}

a {
    text-decoration: none;
}

.wrapper:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px 0 #111111;
    background-color: #67417d;
}

.date {
    text-align: center;
    font-size: 16px;
}

.date .date_info {
    font-weight: bold;
    font-size: 24px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main img {
    width: 100px;
    height: 100px;
}

.main .main_info p{
    font-weight: bold;
    font-size: 30px;
}

.current_temp {
    font-weight: bold;
    text-align: center;
}

.main div {
    margin: auto;
}